body {
  padding: 5px;
  text-align: left;
}

h1 {
  font-family: 'Georgia', serif;
  color: #ED1B2E;
}

p {
  font-family: 'Questrial', sans-serif;
  color: black;
  font-size: 18px;
}

ul {
  list-style-type: none;
  color: black;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: white;
  font-family: 'Georgia';
  text-align: center;
}

li {
  font-family: 'Questrial';
  float: left;
  border-right: 2px solid white;
}

/* Add a border to all( but not the last) list items */
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
  background-color: #9F9FA3;
}

.active {
  background-color: #9F9FA3;
}

a {
  color: #ED1B2E;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #ED1B2E;
}

button {
  background-color: #ED1B2E;
  /* red */
  border: 2px solid #fff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Georgia';
}

button:hover {
  background-color: white;
  color: #ED1B2E;
  border: 2px solid #ED1B2E;
}
